@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bai Jamjuree";
  src: local("Bai Jamjuree"),
    url("../fonts/BaiJamjuree-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bai Jamjuree Italic";
  src: local("Bai Jamjuree Italic"),
    url("../fonts/BaiJamjuree-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Bai Jamjuree Light";
  src: local("Bai Jamjuree Light"),
    url("../fonts/BaiJamjuree-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Bai Jamjuree Light Italic";
  src: local("Bai Jamjuree Light Italic"),
    url("../fonts/BaiJamjuree-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Bai Jamjuree Medium";
  src: local("Bai Jamjuree Medium"),
    url("../fonts/BaiJamjuree-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Bai Jamjuree Medium Italic";
  src: local("Bai Jamjuree Medium Italic"),
    url("../fonts/BaiJamjuree-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Bai Jamjuree Semibold";
  src: local("Bai Jamjuree Semibold"),
    url("../fonts/BaiJamjuree-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Bai Jamjuree Sembibold Italic";
  src: local("Bai Jamjuree Sembibold Italic"),
    url("../fonts/BaiJamjuree-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Chakra Petch";
  src: local("Chakra Petch"),
    url("../fonts/ChakraPetch-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Chakra Petch Italic";
  src: local("Chakra Petch Italic"),
    url("../fonts/ChakraPetch-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Chakra Petch Bold";
  src: local("Chakra Petch"),
    url("../fonts/ChakraPetch-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Chakra Petch Bold Italic";
  src: local("Chakra Petch Italic"),
    url("../fonts/ChakraPetch-BoldItalic.ttf") format("truetype");
}

@layer base {
  html {
    font-family: "Bai Jamjuree", sans-serif;
  }
}

@layer components {
  .defaultbutton {
    @apply dark:border-primary-50 dark:bg-transparent dark:text-primary-50 dark:hover:border-primary-500 dark:hover:text-primary-500 border-primary-600 text-primary-50 hover:border-primary-600 hover:text-primary-600 bg-primary-600;
  }
  .menuitemtop {
    @apply font-bodymedium hover:bg-light-200 dark:hover:bg-dark-900 focus-visible:bg-light-200 dark:focus-visible:bg-dark-900 py-2;
  }
  .menuitem {
    @apply font-bodymedium hover:bg-light-200 focus-within:bg-light-200 dark:focus-within:bg-dark-900 dark:hover:bg-dark-900 py-2;
  }
  .menu {
    @apply shadow-md bg-light-50 text-light-800 dark:bg-dark-800 dark:text-dark-50;
  }
  .menuicon {
    @apply text-light-800 dark:text-dark-50;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #abc8ff2a transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.4rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #abc8ff2a;
  border-radius: 12px;
}

.wrapper {
  height: calc(100vh - 4.5rem);
}
